/*default Sets Style*/
.color_set_Primary {
  background-color: #deb887;
  color: #000000;
}
.color_set_Secondory {
  background-color: #000;
  color: #ffffff;
}
.size_set_Primary {
  width: 100%;
}
.position_set_Sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.bottom_radious {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.top_radious {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.display_set_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.display_set_row {
  display: flex;
  flex-direction: row;
}
.display_set_column {
  display: flex;
  flex-direction: column;
}
.font_set_content {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  padding: 2px;
}
.section_set {
  margin: 10px;
  text-align: center;
}
/*Header Section Style*/
.header {
  text-align: center;
  padding-top: 20px;
  height: 100px;
}
/*NavBar Section Style*/
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.navbar ul li {
  float: left;
}
.navbar ul li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
.navbar ul li a:hover {
  background-color: #ffffff;
  color: #000000;
}
/*Page Part Style*/
.main {
  background-color: #f5deb3;
}
.main .column {
  width: 30%;
  margin: 10px;
}
.main .column .short_section {
  height: 200px;
  border-top-left-radius: 10px;
}
.main .column .tall_section {
  height: 400px;
  border-top-right-radius: 10px;
}
.main .column .short_section:hover {
  background-color: #ffffff;
}
.main .column .tall_section:hover {
  background-color: #ffffff;
}
.main .column .short_section p {
  display: none;
}
.main .column .tall_section p {
  display: none;
}
.main .column .short_section:hover p {
  display: block;
}
.main .column .tall_section:hover p {
  display: block;
}
/*Footer Section Style*/
.footer {
  padding: 20px;
}
